{% extends "layout" %}

{% block content %}
{{ form.open({action: 'PostController.store'}) }}

{{ csrfField }}

<div class="form-group">
  {{ form.label('title', 'Title') }}
  {{ form.text('title', null, { class: 'form-control', placeholder: 'Title'}) }}
</div>

<div class="form-group">
  {{ form.label('posted_at', 'Publish Date') }}
  {{ form.date('posted_at', null, { class: 'form-control', placeholder: 'Publish Date'}) }}
</div>

<div class="form-group">
  {{ form.label('content', 'Post Body (Markdown Supported)') }}
  {{ form.textarea('content', null, {class: 'form-control', placeholder:'Post Body', rows: 12 }) }}
</div>

<div class="button">
  {{ form.submit('Post', null, {class: 'btn btn-primary'}) }}
</div>

{{ form.close() }}
{% endblock %}
