<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My So Not Medium Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">not medium</a>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="section">
      <div class="container">
        {% if old('error') %}
          <div class="alert alert-danger">
            <p>{{ old('error') }}</p>
          </div>
        {% endif %}

        {% block content %}

        {% endblock %}
      </div>
    </div>
  </body>
</html>
